.Settings {
  display: flex;
}

.SettingsWrapper {
  flex: 9;
  padding: 20px;
}

.SettingsTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.SettingsUpdateTitle {
  font-size: 30px;
  margin-bottom: 20px;
  color: lightcoral;
}
.SettingsDeleteTitle {
  color: red;
  font-size: 12px;
  cursor: pointer;
}
.SettingsForm {
  display: flex;
  flex-direction: column;
}
.SettingsPP {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.SettingsPP > img {
  width: 70px;
  height: 70px;
  border-radius: 20px;
  object-fit: cover;
}

.SettingsPPIcon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: lightcoral;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  cursor: pointer;
}

.SettingsForm > label {
  font-size: 20px;
  margin-top: 20px;
}

.SettingsForm > input {
  font-size: 25px;
  color: grey;
  margin: 10px 0;
  height: 30px;
  border: none;
  border-bottom: 1px solid lightgrey;
}

.SettingsForm > input:focus
{
  outline: none;
}

.SettingsForm > textarea
{
  font-size: 20px;
  margin: 10px 0;
  color: black;
  border: none;
  border-bottom: 1px solid lightgrey;
  resize: vertical;
  
}
.SettingsForm > textarea:focus
{
  outline: none;
}

.SettingsForm > input:disabled
{
  cursor: not-allowed;
}

.SettingsSubmit {
  width: 150px;
  align-self: center;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: teal;
  padding: 10px;
  margin-top: 20px;
  cursor: pointer;
}
